/**
* Here we add specific styles for the sub page using its subpage class
*/
.player{
  height: 100vh;

  /**
  * This is an example of how to use the variables defined in the file called '_constants.scss'
   */
  h3{
    color: $white;
  }

  .chosen-phase-title{
    width: 100%;
    text-align: center;
    @include boxSize();
    left:0;
    top: calc(#{$headerComponentHeight} + 10px);
    position: absolute;
  }
}
