/**
* Here we add specific styles for the sub page using its subpage class
*/
.player_position{
  text-align: center;
  font-size: 3em;
  height: 100vh;

  /**
  * This is an example of how to use the variables defined in the file called '_constants.scss'
   */
  h1{
    color: $white;
  }

  .pitch_selection{
    position: relative;
    width: 500px;
    height: 740px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -405px;

    @include queryThis($sm){
      width: 300px;
      margin-left: -150px;
      height: 510px;
      margin-top: -255px;
    }

    .playerPos{
      circle{
        transition: all 0.3s ease;
      }

      &.hovered{
        circle{
          fill: red;
        }
      }
    }

    img{
      max-width: 100%;
      position: absolute;
      left:0;
      top: 0;
    }

    svg{
      height: 740px;
      max-width: 100%;
      position: absolute;
      left:0;
      top: 0;

      @include queryThis($sm){
        height: 440px;
      }
    }
  }
}
