/**
* Here we define variables that can be reused throughout the entire App
* e.g color definitions, font sizes etc.
 */

$mainBlue: #300098;
$mainRed: #e40000;
$white: #ffffff;
$black: #000000;


$standardPadding: 20px;

$headerComponentHeight: 50px;
