/**
* Here we define variables that can be reused throughout the entire App
* e.g color definitions, font sizes etc.
 */

$mainBlue: #300098;
$mainRed: #e40000;
$white: #ffffff;
$black: #000000;


$standardPadding: 20px;

$headerComponentHeight: 30px;


$phase-navigation-width: 250px;
$phase-navigation-icon-size: 50px;

$phase-navigation-width-mob: 210px;
$phase-navigation-icon-size-mob: 30px;

$burgerButtonSize: 40px;
$pitchHeight: 740px;
$pitchHeightSM: 510px;
$pitchHeightXS: 440px;
