/**
* Here we define variables that can be reused throughout the entire App
* e.g color definitions, font sizes etc.
 */

$mainBlue: #001e96;
$lighterBlue: #1432aa;
$mainRed: rgb(165,45,45);
$lighterRed: rgb(175,55,55);
$gold: rgb(165,140,80);
$logoRed: rgb(220,30,30);
$green: rgb(30,65,40);

$goalieColor: #1AB4D0;
$lighterGoalieColor: #2ec8e4;

$white: #ffffff;
$black: #000000;


$standardPadding: 20px;

$headerComponentHeight: 30px;


$phase-navigation-width: 250px;
$phase-navigation-icon-size: 50px;

$phase-navigation-width-mob: 210px;
$phase-navigation-icon-size-mob: 30px;

$burgerButtonSize: 40px;
$pitchHeight: 740px;
$pitchHeightSM: 444px;
$pitchHeightXS: 440px;
