/**
* Here we define SASS mixins, which are small functions within the styling
* These can then be included using @include
 */

$xs:'max-width: 576px';
$sm: 'max-width: 576px';
$md: 'max-width: 768px';
$lg: 'max-width: 992px';
$xl: 'max-width: 1200px';
$xxl: 'min-width: 1366px';

@mixin queryThis($var){
  @media ($var) {
    @content;
  }
}

@mixin getBackground(){
  &:before{
    content: "";
    display: block;
    height:50%;
    background-color: $mainBlue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1s ease;
  }

  &.defence:before{
    height: 0!important;
  }

  &.offence:before{
    height: 100%;
  }
/*
  &.offence:after{
    height: 0;
  }

  &:after{
    content: "";
    display: block;
    height:50vh;
    background-color: $white;
    position: absolute;
    top: 50vh;
    left: 0;
    width: 100%;
    transition: all 1s ease;
    z-index: -1;
  }

  &.defence:after{
    top:0;
    height: 100vh;
  }*/
}

@mixin boxShadow{
  -webkit-box-shadow: 1px 2px 4px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 2px 4px 4px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 4px 4px rgba(0,0,0,0.2);
}

@mixin boxSize{
  padding: $standardPadding;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin transitionTimed($sec){
  transition: all $sec ease;
  -webkit-transition: all $sec ease;
  -moz-transition: all $sec ease;
}

@mixin transition{
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

@mixin arrowIndicator_Left($color){
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 15.6px 9px 0;
  border-color: transparent $color transparent transparent;
}

@mixin arrowIndicator_Right($color){
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 15.6px;
  border-color: transparent transparent transparent $color;
}


@mixin ThemeOffence(){
  background: none;
  color: $white;

  &>ul li{
    background: none;
  }

  ul li{
    border: none!important;
    border-radius: 0!important;
  }

  .accordion{

    .card{
      border-color: $white;
    }

    .card-header{
      border-color: $white;
      button{
        color: $white;
        background-color: $mainBlue;
      }

      &.active-acc{
        button{
          transition: none;
          background-color: $white;
          color: $mainBlue;
        }
      }
    }

    .card-body{
      color: $mainBlue;
    }

  }

  .modal-content{
    background-color: $mainBlue;

    .nav-tabs{
      border-color: $white;
    }

    .nav-item a{
      border-color: $white;
      background-color: $mainBlue;
      color: $white;

      &.active{
        background-color: $white;
        color: $mainBlue;
      }
    }

    .list-group, .list-group-item{
      background-color: $mainBlue;
    }
  }
}

@mixin ThemeDefence(){
  color: $mainRed;
  background: none;

  .modal-content{
    background-color: $white;

    .nav-tabs{
      border-bottom-color: $mainRed;
    }

    .nav-item a{
      border-color: $mainRed;
      background-color: $white;
      color: $mainRed;

      &.active{
        background-color: $mainRed;
        color: $white;
      }
    }
  }

  .accordion{

    .card-header{
      border-color: $mainRed;
      button{
        color: $white;
        background-color: $mainRed;
      }

      &.active-acc{
        button{
          transition: none;
          background-color: $white;
          color: $mainRed;
        }
      }
    }

  }


}
