/**
* Here we define SASS mixins, which are small functions within the styling
* These can then be included using @include
 */

$xs:'max-width: 576px';
$sm: 'max-width: 576px';
$md: 'max-width: 768px';
$lg: 'max-width: 992px';
$xl: 'max-width: 1200px';
$xxl: 'min-width: 1366px';

@mixin queryThis($var){
  @media ($var) {
    @content;
  }
}

@mixin getBackground(){
  &:before{
    content: "";
    display: block;
    height:50vh;
    background-color: $mainBlue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;

    @include queryThis($xs){
      height:60.4vh;
    }
  }

  &.defence:before{
    height: 0!important;
  }

  &.offence:before{
    height: 100%;
  }
/*
  &.offence:after{
    height: 0;
  }

  &:after{
    content: "";
    display: block;
    height:50vh;
    background-color: $white;
    position: absolute;
    top: 50vh;
    left: 0;
    width: 100%;
    transition: all 1s ease;
    z-index: -1;
  }

  &.defence:after{
    top:0;
    height: 100vh;
  }*/
}

@mixin boxShadow{
  -webkit-box-shadow: 1px 2px 4px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 2px 4px 4px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 4px 4px rgba(0,0,0,0.2);
}

@mixin boxSize{
  padding: $standardPadding;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin transitionTimed($sec){
  transition: all $sec ease;
  -webkit-transition: all $sec ease;
  -moz-transition: all $sec ease;
}

@mixin transition{
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

@mixin arrowIndicator_Left($color){
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 15.6px 9px 0;
  border-color: transparent $color transparent transparent;
}

@mixin arrowIndicator_Right($color){
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 15.6px;
  border-color: transparent transparent transparent $color;
}


@mixin ThemeOffence(){
  background: none;
  color: $white;

  &>ul li{
    background: none;
  }

  ul li{
    border-color: none!important;
    border-radius: 0!important;
  }

  .accordion{

    .card{
      border-color: $mainBlue;
    }

    .card-header{
      border-color: $mainBlue;
      button{
        color: $white;
        background-color: $mainBlue;
      }

      &.active-acc{
        button{
          transition: none;
          background-color: $white;
          color: $mainBlue;
        }
      }
    }

    .card.secondary{
      border-color: $goalieColor;
      .card-header{
        border-color: $goalieColor;
        button{
          background-color: $goalieColor;
        }
      }
    }

    .card-body{
      color: $mainBlue;
    }

  }

  .modal-content{
    background-color: $mainBlue;

    .nav-tabs{
      border-color: $white;
    }

    .nav-item a{
      border-color: $white;
      background-color: $mainBlue;
      color: $white;

      &.active{
        background-color: $white;
        color: $mainBlue;
      }
    }

    .list-group, .list-group-item{
      background-color: $mainBlue;
    }
  }

  &.player-role-content{
    color: $mainBlue;
  }

  &.btn-primary{
    background-color: $mainBlue;
    color: $white;
    border-color: $white;
  }

  &.btn-highlight{
    border-color: $white;
    color: $mainBlue;
    background-color: $white;
  }
}

@mixin ThemeDefence(){
  color: $mainRed;
  background: none;

  .modal-content{
    background-color: $white;

    .nav-tabs{
      border-bottom-color: $mainRed;
    }

    .nav-item a{
      border-color: $mainRed;
      background-color: $white;
      color: $mainRed;

      &.active{
        background-color: $mainRed;
        color: $white;
      }
    }
  }

  .accordion{
    .card-header{
      border-color: $mainRed;
      button{
        color: $white;
        background-color: $mainRed;
      }

      &.active-acc{
        button{
          transition: none;
          background-color: $white;
          color: $mainRed;
        }
      }
    }
  }
  &.player-role-content{
    color: $mainRed;
  }

  &.btn-primary{
    background-color: $mainRed;
    color: $white;
    border-color: $mainRed;
  }

  &.btn-highlight{
    border-color: $mainRed;
    color: $mainRed;
    background-color: $white;
  }
}



@mixin getKeeperPos($phase){
  @if $phase == 'def-high-pressure' {
    #k.player-btn{
      transform: translateY(-100px);
    }
  } @else if $phase == 'def-medium-low-pressure' {
    #k.player-btn{
      transform: translateY(-30px);
    }
  } @else if $phase == 'def-field-defence' {
    #k.player-btn{
      transform: translateY(40px);
    }
  } @else if $phase == 'off-phase-1' {
    #k.player-btn{
      transform: translateY(0px);
    }
  } @else if $phase == 'off-phase-2' {
    #k.player-btn{
      transform: translateY(-100px);
    }
  } @else if $phase == 'off-phase-3' {
    #k.player-btn{
      transform: translateY(-100px);
    }
  } @else {
    #k.player-btn{
      transform: translateY(-0px);
    }
  }
}

@mixin getStrikerPos($phase){
  @if $phase == 'def-high-pressure' {
    #s_1_.player-btn , #s.player-btn{
      transform: translateY(-130px);
    }
  } @else if $phase == 'def-medium-low-pressure' {
    #s_1_.player-btn , #s.player-btn{
      transform: translateY(80px);
    }
  } @else if $phase == 'def-field-defence' {
    #s_1_.player-btn , #s.player-btn{
      transform: translateY(300px);
    }
  } @else if $phase == 'off-phase-1' {
    #s_1_.player-btn , #s.player-btn{
      transform: translateY(210px);
    }
  } @else if $phase == 'off-phase-2' {
    #s_1_.player-btn , #s.player-btn{
      transform: translateY(-50px);
    }
  } @else if $phase == 'off-phase-3' {
    #s_1_.player-btn , #s.player-btn{
      transform: translateY(-200px);
    }
  } @else {
    #s_1_.player-btn , #s.player-btn{
      transform: translateY(-0px);
    }
  }
}


@mixin getCenterMidfielderPos($phase){
  @if $phase == 'def-high-pressure' {
    #cmf_1_.player-btn, #cmf.player-btn{
      transform: translateY(-130px);
    }
  } @else if $phase == 'def-medium-low-pressure' {
    #cmf_1_.player-btn, #cmf.player-btn{
      transform: translateY(80px);
    }
  } @else if $phase == 'def-field-defence' {
    #cmf_1_.player-btn, #cmf.player-btn{
      transform: translateY(260px);
    }
  } @else if $phase == 'off-phase-1' {
    #cmf_1_.player-btn, #cmf.player-btn{
      transform: translateY(180px);
    }
  } @else if $phase == 'off-phase-2' {
    #cmf_1_.player-btn, #cmf.player-btn{
      transform: translateY(-80px);
    }
  } @else if $phase == 'off-phase-3' {
    #cmf_1_.player-btn, #cmf.player-btn{
      transform: translateY(-230px);
    }
  } @else {
    #cmf_1_.player-btn, #cmf.player-btn{
      transform: translateY(-0px);
    }
  }
}


@mixin getMidfielderPos($phase){
  @if $phase == 'def-high-pressure' {
    #mf_1_.player-btn, #mf.player-btn{
      transform: translateY(-130px);
    }
  } @else if $phase == 'def-medium-low-pressure' {
    #mf_1_.player-btn, #mf.player-btn{
      transform: translateY(80px);
    }
  } @else if $phase == 'def-field-defence' {
    #mf_1_.player-btn, #mf.player-btn{
      transform: translateY(260px);
    }
  } @else if $phase == 'off-phase-1' {
    #mf_1_.player-btn, #mf.player-btn{
      transform: translateY(180px);
    }
  } @else if $phase == 'off-phase-2' {
    #mf_1_.player-btn, #mf.player-btn{
      transform: translateY(-80px);
    }
  } @else if $phase == 'off-phase-3' {
    #mf_1_.player-btn, #mf.player-btn{
      transform: translateY(-230px);
    }
  } @else {
    #mf_1_.player-btn, #mf.player-btn{
      transform: translateY(-0px);
    }
  }
}

@mixin getCenterBackPos($phase){
  @if $phase == 'def-high-pressure' {
    #cb_1_.player-btn, #cb.player-btn{
      transform: translateY(-140px);
    }
  } @else if $phase == 'def-medium-low-pressure' {
    #cb_1_.player-btn, #cb.player-btn{
      transform: translateY(60px);
    }
  } @else if $phase == 'def-field-defence' {
    #cb_1_.player-btn, #cb.player-btn{
      transform: translateY(210px);
    }
  } @else if $phase == 'off-phase-1' {
    #cb_1_.player-btn, #cb.player-btn{
      transform: translateY(140px);
    }
  } @else if $phase == 'off-phase-2' {
    #cb_1_.player-btn, #cb.player-btn{
      transform: translateY(-120px);
    }
  } @else if $phase == 'off-phase-3' {
    #cb_1_.player-btn, #cb.player-btn{
      transform: translateY(-280px);
    }
  } @else {
    #cb_1_.player-btn, #cb.player-btn{
      transform: translateY(-0px);
    }
  }
}

@mixin getFullBackPos($phase){
  @if $phase == 'def-high-pressure' {
    #fb_1_.player-btn, #fb.player-btn{
      transform: translateY(-140px);
    }
  } @else if $phase == 'def-medium-low-pressure' {
    #fb_1_.player-btn, #fb.player-btn{
      transform: translateY(60px);
    }
  } @else if $phase == 'def-field-defence' {
    #fb_1_.player-btn, #fb.player-btn{
      transform: translateY(210px);
    }
  } @else if $phase == 'off-phase-1' {
    #fb_1_.player-btn, #fb.player-btn{
      transform: translateY(140px);
    }
  } @else if $phase == 'off-phase-2' {
    #fb_1_.player-btn, #fb.player-btn{
      transform: translateY(-120px);
    }
  } @else if $phase == 'off-phase-3' {
    #fb_1_.player-btn, #fb.player-btn{
      transform: translateY(-280px);
    }
  } @else {
    #fb_1_.player-btn, #fb.player-btn{
      transform: translateY(-0px);
    }
  }
}
