/**
* This is used to reset all styling to streamline between browsers
* No need to change this file
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
	font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
	height: 100vh;
}

body{
	@include getBackground();
}

.pull-up{
	margin-top: -90px;
}

strong, p,li, i, td, h1, h2, h3, h4, h5, h6, td, th{
	line-height: 1.2em;
	margin-bottom: 1em;
	transition: color 1s ease;
}

h1, h2, h3, h4, h5, h6{
	font-family: "HelveticaNeue-Bold", Arial, sans-serif;
	font-weight: 500;
}

h1{
	font-size: 26pt;
}

h2{
	font-size: 24pt;
}

h3{
	font-size: 22pt;
}

h4{
	font-size: 18pt;
}

h5{
	font-size: 16pt;
}

h6{
	font-size: 14pt;
}

strong, li, p{
	font-size: 14pt;
}

strong{
	font-weight: 700;
}

p{
	font-family: "HelveticaNeue-Medium", Arial, sans-serif;
}

.hidden{
	opacity: 0;
	visibility: hidden;
}

.shown{
	opacity: 1;
	visibility: visible;
}

.btn-primary{
	background-color: $mainBlue;
}

.btn-warning{
	background-color: $mainRed;
	color: $white;

	&:hover{
		color: $white;
		background-color: #e45757;
	}
}

.full-height{
	height: 100vh;
}

html {
	height: 100%;
	overflow: hidden;
}
body {
	min-height: 100%;
	transition: background-color 0.1s linear;
}
