.accordion{
  border-radius: 0;

  .card{
    border-radius: 0;
    border-color: $mainRed;
    margin-bottom: 2px;
  }

  .card-header{
    cursor: pointer;
    padding: 0;
    border-radius: 0;

    &.active-acc{
      button{
        span{
          &:after{
            transform: rotate(45deg);
          }
        }
      }
    }

    button{
      text-decoration: none;
      &:hover{
        text-decoration: none;
        background-color: $lighterRed;
      }

      strong{
        transition: none;
      }
      border-radius: 0;
      text-align: left;
      width: 100%;
      padding: 15px;

      span{
        white-space: break-spaces;
        display: block;
        max-width: 100%;
        word-wrap: break-word;
        @include boxSize();
        padding: 0 20px;

        &:after{
          transition: all 0.3s ease;
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          transform: rotate(-45deg);
          border-right: 3px solid $white;
          border-bottom: 3px solid $white;
          float: right;
          position: absolute;
          right: 15px;
          top: 25px;
          z-index: 1;
        }
      }
    }
  }

  .card-body{
    -webkit-box-shadow: inset 0px 8px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 8px 8px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 8px 8px 1px rgba(0,0,0,0.75);
    border-radius: 0;
    ul li{
      border: none;
    }

    video{
      max-width: 100%;
    }
  }

}
