.header-component{
  text-align: center;
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  background: black;
  min-height: $headerComponentHeight;

  .modal-button{
    padding: 10px $standardPadding;
    display: inline-block;

    &.modal-is-open{
      background-color: $white;
      border-radius: 15px;
      color: $mainRed;
    }

    button{
      padding: 10px;
      border-radius: 15px;
      color: $white;

      border: none;
      background: none;

      &:hover{
        background-color: $mainBlue;
        cursor: pointer;
      }

      svg{
        padding: 0;
        margin: 0;
      }
    }
  }
}
