.modal-dialog{
  .modal-content{
    border-radius: 0;
  }


  &.theme-2{
    @include modalThemeOffence();
  }

  &.theme-1{
    @include modalThemeDefence();
  }

  &.modal-xl{
    max-width: 80vw;
  }

  position: relative;
  margin-top: 0!important;
  top: 50%!important;

  transform: translateY(-50%)!important;

  .modal-header{
    border: none;
  }

  .modal-title{
    font-family: "HelveticaNeue-Bold", sans-serif;
    font-size: 1.4em;
  }

  .nav-item:hover{
    color: $mainRed;
    cursor: pointer;
  }

  .active.nav-link{
    background-color: $mainBlue;
    color: $white;
  }

  .list-group, .list-group-item{
    border: none;
  }
}
