.participant-form{
  margin: 0 auto;
  width: 500px;

  .form-group{
    width: auto;
    height: auto;
    margin-bottom: 0;
  }

  label{
    font-size: 16pt;
  }

  input{
    width: 80%;
    display: inline-block;
    float: left;
  }

  button{
    float: left;
    width: 20%;
    display: inline-block;
  }
}

.eval{
  .modal-button .modal-btn{
    @include boxShadow();
    border-radius: 50%;
    border-color: $black;
    width: 40px;
    height: 40px;
    background-color: $black;
    color: $white;
    @include transition();
    opacity: 0.4;
    position: fixed;
    bottom: 20px;
    right: 20px;

    &:hover{
      opacity: 1;
    }
  }
}
