.phase-nav{
  h4{
    color: $white;
    text-align: left;
    position: absolute;
    z-index: 9999;
    width: calc(100% - #{$burgerButtonSize});
    padding: 20px 0 0 20px;

    @include queryThis($xs){
      padding: 5px 0 0 10px;
    }
  }

  &:before{
    content: "";
    display: block;
    background-color: $mainBlue;
    position: absolute;
    height: 50vh;
    top: 0;
    left: 0;
    width: 100%;
  }

  width: calc(#{$phase-navigation-width} + #{$standardPadding});
  display: table-row;
  position: fixed;
  z-index: 1049;
  @include boxShadow();
  background-color: $white;
  color: $white;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;

  .toggle-open{
    right: 0;
    margin-right: 10px;
    margin-top: 15px;
    position: absolute;
    width: $burgerButtonSize;
    height: $burgerButtonSize;

    svg{
      float: none;
      margin-left: 5px;
      margin-right: 5px;
    }

    @include queryThis($xs){
      margin-top: 0px;
      margin-right: 5px;
    }
  }

  &.closed-nav{
    left: calc(-#{$phase-navigation-width} + (#{$phase-navigation-icon-size} + (#{$standardPadding} / 4)));

    @include queryThis($xs){
      left: calc(-#{$phase-navigation-width-mob} + 12px);
    }
  }

  transition: all 0.3s ease;
  @include boxSize();
  padding: 20px 0;

  @include queryThis($xs){
    padding: 20px 0;
    width: calc(#{$phase-navigation-width-mob} + #{$standardPadding * 2});
    left: calc(-#{$phase-navigation-width-mob} + (#{$phase-navigation-icon-size-mob} / 5));
  }

  &.open-nav{
    left: 0;

    @include queryThis($xs){
      left: 0;
    }
  }

  ul {
    margin-top: -5px;
    width: 100%;
    padding-left: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @include queryThis($xs){
      margin-top: -10px;
    }

    li{
      margin: 0 0 0 0;

      @include queryThis($xs){
        margin: 0 0 0 10px;
      }
    }
  }

  button{
    width: 100%;
    color: $white;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    background: none;
    border: none!important;
    text-align: left;
    position: relative;
    @include transition();

    @include queryThis($xs){
      padding: 0 0;
    }

    &:active {
      outline: none!important;
      border: none!important;
    }

    &:focus {outline:none!important;}

    &.offensive-phase{
      background-color: $mainBlue;
      color: $white;

      &:hover{
        color: $black;
        &:before{
          /*@include arrowIndicator_Right($black)*/
        }

        &:after{
          @include arrowIndicator_Left($black)
        }
      }

      &.chosen{
        &:before{
          /*@include arrowIndicator_Right($white)*/
        }

        &:after{
          @include arrowIndicator_Left($white)
        }
      }

      &.offensive-end{
        margin-bottom: 10px;
      }
    }

    &.defensive-phase{
      background-color: $white;
      color: $mainRed;

      &:hover{
        color: $black;
        &:before{
          /*@include arrowIndicator_Right($black)*/
        }

        &:after{
          @include arrowIndicator_Left($black)
        }
      }

      &.chosen{
        &:before{
          /*@include arrowIndicator_Right($mainRed)*/
        }

        &:after{
          @include arrowIndicator_Left($mainRed)
        }
      }

      &.defensive-start{
        margin-top: 10px;
      }
    }

    &:hover{
      cursor: pointer;
    }

    svg{
      margin: 5px 15px 5px 20px;
      padding: 5px;
      float: right;
      width: 30px!important;
      height: 30px!important;

      @include queryThis($xs){
        margin: 5px 10px 5px 5px;
      }
    }
  }

  li.category{
    &.cat-off{
      color: $white;
      text-align: left;
      margin: 0 0 30px 0px;
      font-size: 1em;

      @include queryThis($xs){
        margin: 0 0 20px 10px;
      }
    }

    &.cat-def{
      color: $mainRed;
      text-align: left;
      margin: 30px 0 0 0px;
      font-size: 1em;

      @include queryThis($xs){
        margin: 20px 0 0 10px;
      }
    }
  }
}
