$phase-navigation-width: 230px;
$phase-navigation-icon-size: 50px;

$phase-navigation-width-mob: 210px;
$phase-navigation-icon-size-mob: 30px;

.phase-nav{
  width: calc(#{$phase-navigation-width} + #{$standardPadding * 4.5});
  display: table-row;
  position: fixed;
  z-index: 1051;
  @include boxShadow();
  background-color: $black;
  color: $white;
  height: 100vh;
  top: 0;
  left: calc(100vw - (#{$phase-navigation-icon-size} + #{$standardPadding / 2}));
  transition: all 0.3s ease;
  @include boxSize();
  padding: 20px 12px;
  opacity: 0.3;

  @include queryThis($xs){
    padding: 20px 5px;
    width: calc(#{$phase-navigation-width-mob} + #{$standardPadding * 3});
    left: calc(100vw - (#{$phase-navigation-icon-size-mob} + #{$standardPadding / 2.5}));
  }

  &:hover{
    opacity: 0.95;
    left: calc(100vw - (#{$phase-navigation-width} + #{$standardPadding * 4}));

    @include queryThis($xs){
      left: calc(100vw - (#{$phase-navigation-width-mob} + #{$standardPadding * 2}));
    }
  }

  ul {
    margin-top: -5px;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @include queryThis($xs){
      margin-top: -10px;
    }

    li{
      margin: 0 0 10px 0;

      @include queryThis($xs){
        margin: 0 0 6px 0;
      }
    }
  }

  button{
    width: 100%;
    color: $white;
    font-size: 16px;
    line-height: 32px;
    margin: 0;
    padding: $standardPadding 0 $standardPadding 5px;
    background: none;
    border: none!important;
    text-align: left;
    border-radius: 15px;
    position: relative;

    @include queryThis($xs){
      padding: 5px 0;
    }

    &:active {
      outline: none!important;
      border: none!important;
    }

    &:focus {outline:none!important;}

    &.chosen{
      color: $mainRed;

      svg{
        background-color: $white;
        border-radius: 50%;
      }
    }

    &:hover{
      background-color: $mainBlue;
    }

    svg{
      padding: 5px;
      float: left;
      width: 30px!important;
      height: 30px!important;
      margin-right: 20px;
    }
  }
}
