.theme-2{
  @include ThemeOffence();
}

.theme-1{
  @include ThemeDefence();
}

.pitch{
  position: relative;
  width: 100%;
  top: calc(50vh - 65px);
  transform: translateY(-50%);
  height: $pitchHeight;
  max-width: 500px;
  @include boxShadow();

  @include queryThis($xl){
    float: right;
  }

  @include queryThis($lg){
    float: none;
    margin: 0 auto;
  }

  @include queryThis($xs){
    float: right;
    width: 300px;
    height: $pitchHeightSM;
    top: 50vh;
    transform: translateY(-60%);
    position: absolute;
    left: 60px;
  }

  .playerPos{
    circle{
      transition: all 0.3s ease;
    }

    &.hovered{
      circle{
        fill: $mainRed;
      }
    }

    &.highlight{
      circle{
        fill: $black;
        stroke-width: 15px;
        stroke: $white;
      }
    }
  }

  img{
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    left:0;
    top: 0;
  }

  .overlay svg{
    height: 740px;
    max-width: 100%;
    position: absolute;
    left:0;
    top: 0;

    @include queryThis($sm){
      height: 440px;
    }

    @keyframes Pulsate {
      from { opacity: 0.6; }
      50% { opacity: 0.3; }
      to { opacity: 0.6; }
    }

    .highlight-zone{
      animation: Pulsate 1s linear infinite;

      &.highlight-off{
        fill: $mainBlue;
      }

      &.highlight-def{
        fill: $mainRed;
      }
    }
  }

  #progress {
    width: 100%;
    margin: 0 auto;
    height: 5px;
    background-color: $white;
    z-index: 3;
    bottom:0;
    position: absolute;
    @include transitionTimed(1s);
  }

  #progress div {
    height: 100%;
    text-align: right;
    padding: 0;
    width: 0;
    background-color: $mainRed;
    box-sizing: border-box;
  }

  .channels, .zones-def, .zones-off, .selection{
    @include transitionTimed(1s);
  }

  .btn-overlay{
    position: absolute;
    z-index: 10;
    margin: 5px;
    bottom: -60px;
    border-color: $black;
    background-color: $black;
    color: $white;
    transition: all 0.3s ease;

    &:hover{
      background-color:rgb(20,20,20);
      border-color:rgb(20,20,20);
    }

    &.btn-channels{
      right: 0;
    }
  }
}

.content-col{
  height: $pitchHeight;
  margin-top: 40px;
  width: 97%;
  overflow-y: scroll;
  @include boxSize();
  padding: 20px;
  -ms-overflow-style: none;
  @include boxShadow();


  @include queryThis($md){
    width: 100%;
  }

  .mindset{
    background-color: $black;
    @include boxSize();
    padding: 20px;
    margin-bottom: 20px;

    ul,li{
      background: none;
    }
    color: $white!important;
  }
}

.content-col::-webkit-scrollbar {
  display: none;
  @include queryThis($md){
    display: block;
  }
}

.defence .content-col{
  background-color: $white;
}

.offence .content-col{
  background-color: $white;
}
