.pitch{
  position: relative;
  width: 500px;
  height: 740px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -371px;
  @include boxShadow();

  @include queryThis($sm){
    width: 300px;
    margin-left: -125px;
    height: 510px;
    margin-top: -222px;
  }

  @include queryThis($xs){
    height: 440px;
  }

  .playerPos{
    circle{
      transition: all 0.3s ease;
    }

    &.hovered{
      circle{
        fill: $mainRed;
      }
    }

    &.highlight{
      circle{
        fill: $black;
        stroke-width: 15px;
        stroke: $white;
      }
    }
  }

  img{
    max-width: 100%;
    position: absolute;
    left:0;
    top: 0;
  }

  .overlay svg{
    height: 740px;
    max-width: 100%;
    position: absolute;
    left:0;
    top: 0;

    @include queryThis($sm){
      height: 440px;
    }

    @keyframes Pulsate {
      from { opacity: 0.6; }
      50% { opacity: 0.3; }
      to { opacity: 0.6; }
    }

    .highlight-zone{
      animation: Pulsate 1s linear infinite;

      &.highlight-off{
        fill: $mainBlue;
      }

      &.highlight-def{
        fill: $mainRed;
      }
    }
  }

  #progress {
    width: 100%;
    margin: 0 auto;
    height: 5px;
    background-color: $white;
    z-index: 3;
    bottom:0;
    position: absolute;
    @include transitionTimed(1s);
  }

  #progress div {
    height: 100%;
    text-align: right;
    padding: 0;
    width: 0;
    background-color: $mainRed;
    box-sizing: border-box;
  }

  .channels, .zones-def, .zones-off, .selection{
    @include transitionTimed(1s);
  }

  .btn-overlay{
    position: absolute;
    z-index: 10;
    margin: 5px;
    bottom: 0;
    border-radius: 50%;

    &.btn-channels{
      right: 0;
    }
  }

}
