.pitch{
  position: relative;
  width: 500px;
  height: 740px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -405px;

  @include queryThis($sm){
    width: 300px;
    margin-left: -150px;
    height: 510px;
    margin-top: -255px;
  }

  .playerPos{
    circle{
      transition: all 0.3s ease;
    }

    &.hovered{
      circle{
        fill: $mainRed;
      }
    }

    &.highlight{
      circle{
        stroke-width: 15px;
        stroke: $white;
      }
    }
  }

  img{
    max-width: 100%;
    position: absolute;
    left:0;
    top: 0;
  }

  svg{
    height: 740px;
    max-width: 100%;
    position: absolute;
    left:0;
    top: 0;

    @include queryThis($sm){
      height: 440px;
    }
  }
}
